.editIcon {
  position: absolute;
  bottom: 7px;
  right: 11px;
  cursor: pointer;
}

.content {
  padding: 1rem;
}

.editReminder {
  position: relative;
}

.header {
  text-align: center;
  padding: .5rem;
  margin-top: 1rem;
}

.headerText {
  font-size: 1.1rem;
}

.error {
  text-align: center;
  color: red;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: inline-block;
  margin-bottom: .5rem;
  color: #a7a5ad;
  font-size: .9rem;
}

.formGroup input {
  width: 100%;
  padding: .6rem;
  border-radius: .5rem;
  font-size: 1rem;
  border: 1px solid black;
  background-color: #FFF;
}

.dark .formGroup input {
  border: none;
}

.time {
  display: flex;
}

.time select {
  width: 100px;
  padding: .6rem;
  border-radius: .5rem;
  background-color: #FFF;
}

.hour, .minute {
  display: flex;
  flex-direction: column;
}

.hour {
  margin-right: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #d9d9da;
  padding: 1rem;
  border-radius: 0 0 .7rem .7rem;
}

.dark .footer {
  background-color: #313033;
}

.btn {
  padding: .7rem;
  width: 100px;
  border-radius: .5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.cancel {
  margin-right: .5rem;
  background-color: red;
  color: #FFF;
}

.create {
  color: #FFF;
  background-color: #0275d8;
}